/**
 * Setup base skeleton and default styles for layout.
 */
.main-panel {
	font-family: Arial, Helvetica, sans-serif;
}

.main-panel .error {
	color: red;
}

.main-panel label {
	font-weight: bold;
}
.main-panel .weather-data-panel {
    margin: 25px 10px 0px 0px;
}